﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "DELETE VARIANT";
}

<div class="card">
    <div class="card-body">

        <form asp-action="Delete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <h3>Are you sure for delete @Model.NameVariant?</h3>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded">Delete</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-rounded">Back to List</a>
            </div>
        </form>

    </div>
</div>