﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "EDIT VARIANT";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title font-weight-bold mr-2 mt-2">@ViewData["Title"]</h3>
        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",
                    new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"),
                    "-- Choose Category --",
                    new { @class="form-control" }
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-12">
                    <a class="btn btn-outline-secondary btn-rounded" asp-controller="VariantTry" asp-action="Index">Back to List</a>
                    <button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameVariant: {
                required: true,
                minlength: 10,
            },
            IdCategory: "required"
        },
        messages: {
            NameVariant: {
                required: "Please enter Name Variant",
                minlength: "The name must consist of at least 10 characters",
            },
            IdCategory: "Please choose your category"
        }
    })
</script>