﻿@using xpos314.viewmodels;
@{
	ViewData["Title"] = "Variant Try";
}

<div class="card">
	<form asp-action="Index" method="get" id="form_search">
		<div class="card-body">
			<h2 class="card-title text-center">@ViewData["Title"]</h2>

			<div class="row mb-3">
				<div class="col-12">
					<div class="d-flex bd-highlight mb-3">
						<div class="mr-auto p-2 bd-highlight">
							<button type="button" class="btn btn-primary shadow btn-rounded" id="btn_create">
								<i data-feather="plus" class="feather-icon"></i>
								Create
							</button>
						</div>
						<div class="p-1 bd-highlight input-group-text shadow custom-radius bg-white border-0 mr-2" >
							<i data-feather="search" class="feather-icon ml-2" style="cursor:pointer" id="btn_search"></i>
							<input type="text" class="form-control custom-radius border-0" id="searchString" name="searchString" value="@ViewBag.currentFilter" placeholder="Search" />
						</div>
						<div class="p-2 bd-highlight shadow custom-radius border-0" style="cursor:pointer">
							<a class="input-group-text custom-radius border-0 bg-transparent btn_reset" asp-action="Index">
								<i data-feather="refresh-cw" class="feather-icon"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">
							<a asp-action="Index" asp-route-sortOrder="@ViewBag.idSort"
							   asp-route-currentFilter="@ViewBag.currentFilter"
							   asp-route-PageNumber="@ViewBag.PageIndex"
							   asp-route-showData="@ViewBag.currentData">
								#
							</a>
						</th>

						<th class="text-center">
							<a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort"
							   asp-route-currentFilter="@ViewBag.currentFilter"
							   asp-route-PageNumber="@ViewBag.PageIndex"
							   asp-route-showData="@ViewBag.currentData">
								Name Variant
							</a>
						</th>

						<th class="text-center">Name Category</th>
						<th class="text-center">Description</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (Model.Count > 0)
						{
							foreach (VMTblVariant item in Model)
							{
								<tr>
									<th scope="row" class="text-center">@item.Id</th>
									<td class="text-center">@item.NameVariant</td>
									<td class="text-center">@item.NameCategory</td>
									<td class="text-center">@item.Description</td>

									<td class="text-center">
										<a class="btn btn-primary btn-rounded btn_edit"  style="color:white" data-id="@item.Id">Edit</a>
										<a class="btn btn-success btn-rounded btn_detail" style="color:white" data-id="@item.Id">Detail</a>
										<a class="btn btn-danger btn-rounded btn_delete"  style="color:white" data-id="@item.Id">Delete</a>
									</td>

								</tr>
							}
						}
						else
						{
							<tr>
								<td>Data not Found</td>
							</tr>
						}
					}

				</tbody>
			</table>

			<div class="row mb-3">
				<div class="col-sm-12">
					<div class="d-flex justify-content-between">
						<div class="btn-group">
							<div class="mr-2">
								show
							</div>
							<select name="showData" id="select_show" aria-controls="zero_config" class="form-control form-control-sm w-auto">
								<option value="3"> 3 </option>
								<option value="5"> 5 </option>
								<option value="10"> 10 </option>
								<option value="50"> 50 </option>
							</select>
							<div class="ml-2"> entries from @Model.TotalData data</div>
							<input type="hidden" name="sortOrder" id="sort_change" value="" />
						</div>

						@{
							var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
							var nextDisabled = !Model.HasNextPage ? "disabled" : "";
						}
						<div class="w-30">
							Page @Model.PageIndex of @Model.TotalPages
							<a asp-action="Index"
							   asp-route-sortOrder="@ViewBag.CurrentSort"
							   asp-route-pageNumber="@(Model.PageIndex-1)"
							   asp-route-currentFilter="@ViewBag.CurrentFilter"
							   asp-route-showData="@ViewBag.currentShowData"
							   class="btn btn-primary @prevDisabled">
								Previous
							</a>
							<a asp-action="Index"
							   asp-route-sortOrder="@ViewBag.CurrentSort"
							   asp-route-pageNumber="@(Model.PageIndex+1)"
							   asp-route-currentFilter="@ViewBag.CurrentFilter"
							   asp-route-showData="@ViewBag.currentShowData"
							   class="btn btn-primary @nextDisabled">
								Next
							</a>

						</div>
					</div>
				</div>
			</div>


		</div>
	</form>
</div>



<script>
	$(document).ready(function () {

		$("#select_show").val(@ViewBag.currentShowData);

		$("#btn_create").click(function () {
			$(".modal-body").load("/VariantTry/Create")
			$("#myModal").modal("show")
		})

		$(".btn_edit").click(function () {
			var id = $(this).data("id")
			$(".modal-body").load("/VariantTry/Edit?id=" + id)
			$("#myModal").modal("show")
		})
		$(".btn_detail").click(function () {
			var id = $(this).data("id")
			$(".modal-body").load("/VariantTry/Detail?id=" + id)
			$("#myModal").modal("show")
		})
		$(".btn_delete").click(function () {
			var id = $(this).data("id")
			$(".modal-body").load("/VariantTry/Delete?id=" + id)
			$("#myModal").modal("show")
		})
		$("#btn_search").click(function () {
			$("#sort_change").val("@ViewBag.CurrentSort")
			$("#form_search").submit()
		})
		$(".btn_reset").click(function () {
			$("#searchstring").val("")
			$("#form_search").submit()
		})

		$("#select_show").change(function () {
			$("#sort_change").val("@ViewBag.CurrentSort")
			$("#form_search").submit()
		})

	})
</script>
