﻿@using xpos314.datamodels
@model TblCategory
@{
    ViewData["Title"] = "DELETE CATEGORY";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete">
            <input type="hidden" name="Id" value="@Model.Id" />
            <h3>Are you sure for delete @Model.NameCategory?</h3>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-rounded">Delete</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-rounded">Back to List</a>
            </div>
        </form>

    </div>
</div>