﻿@using xpos314.datamodels
@model TblCategory
@{

    ViewData["Title"] = "Edit Category";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>
        <form  id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id"/>
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span id="validateNameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12">
                    <a class="btn btn-outline-secondary btn-rounded" asp-controller="Category" asp-action="Index">Back to List</a>
                    <button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameCategory: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            NameCategory: {
                required: "Please fill name Category!",
                minlength: "The Name must consist of at least  character!",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            var nameCategory = $("#NameCategory").val();

            $.ajax({
                url: "/Category/CheckNameIsExist",
                //method: "GET"
                type: "GET",
                data: { nameCategory: nameCategory },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validateNameCategory").text("Name Category is already exist")
                        return true
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Category/Edit",
            type: "POST",
            dataType: "json",
            data: dataParam,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $(".modal").modal("hide")
                    window.location.reload()
                    toastr.success('test')
                }
                else {
                    //Toast.fire({
                    //    icon: "Failed",
                    //    title: data.message
                    //})
                    toastr.error(data.message)
                }
            }
        })
    }
</script>

