﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;
    ViewData["Title"] = "CREATE CATEGORY";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title" >@ViewData["Title"]</h3>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-2 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description">
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12">
                    <a class="btn btn-outline-secondary btn-rounded" asp-controller="CategoryTry" asp-action="Index">Back to List</a>
                    <button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCategory:"required"
        },
        messages:{
            NameCategory:"Please enter Name Category"
        }        
    })
</script>