﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;
    ViewData["Title"] = "EDIT CATEGORY";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title font-weight-bold mr-2 mt-2">@ViewData["Title"]</h3>
        <form asp-action="Edit" method="post">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <span class="text-danger" asp-validation-for="NameCategory"></span>
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-12">
                    <a class="btn btn-outline-secondary btn-rounded" asp-controller="CategoryTry" asp-action="Index" >Back to List</a>
                    <button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>