﻿@using xpos314.viewmodels;
@{
	ViewData["Title"] = "Category Try";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title text-center">@ViewData["Title"]</h2>
        <button class="btn btn-primary btn-rounded mb-2" style="float: right" id="btn_create">
            <i data-feather="plus" class="feather-icon"></i>
            Create
        </button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Name Category</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (VMTblCategory item in Model)
                {
                    <tr>
                        <th scope="row" class="text-center">@item.Id</th>
                        <td>@item.NameCategory</td>
                        <td>@item.Description</td>

                        <td class="text-center">
                            <a class="btn btn-primary btn_edit btn-rounded" style="color:white" data-id="@item.Id">Edit</a>
                            <a class="btn btn-success btn_detail btn-rounded" style="color:white" data-id="@item.Id">Detail</a>
                            <a class="btn btn-danger btn_delete btn-rounded" style="color:white" data-id="@item.Id">Delete</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#btn_create").click(function () {
            $(".modal-body").load("/CategoryTry/Create")
            $("#myModal").modal("show")           
        })

        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $(".modal-body").load("/CategoryTry/Edit?id="+id)
            $("#myModal").modal("show")
        })
        $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $(".modal-body").load("/CategoryTry/Detail?id="+id)
            $("#myModal").modal("show")
        })
        $(".btn_delete").click(function () {
            var id = $(this).data("id")
            $(".modal-body").load("/CategoryTry/Delete?id=" + id)
            $("#myModal").modal("show")
        })
        $("btn_search").click(function(){
            //alert("oke")
            $("#form_search").submit()
        })
    })
</script>
