﻿@using xpos314.datamodels
@model TblRole
@{

	ViewData["Title"] = "Creat Role";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Create" method="post" id="form_input">
			<div class="mb-4 row">
				<label for="NameRole" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
					<span id="validateRoleName" class="text-danger"></span>
				</div>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12">
					<a class="btn btn-outline-secondary btn-rounded" asp-controller="Role" asp-action="Index">Back to List</a>
					<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script>



	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			RoleName: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			RoleName: {
				required: "Please fill role name!",
				minlength: "The name must consist of at least 5 character!",
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			var roleName = $("#RoleName").val();

			$.ajax({
				url: "/Role/CheckNameIsExist",
				//method: "GET"
				type: "GET",
				data: { nameRole: roleName },
				dataType: "json",
				success: function (respon) {
					if (respon) {
						$("#validateRoleName").text("Role name is already exist")
						return true
					}
					else {
						fungsiSubmit(dataForm)
					}
				}
			})
		}
	})

	function fungsiSubmit(dataParam) {
		$.ajax({
			url: "/Role/Create",
			type: "POST",
			dataType: "json",
			data: dataParam,
			success: function (respon) {
				var data = respon.dataRespon
				if (data.success) {
					$(".modal").modal("hide")

					toastr.success(
						data.message,
						'',
						{
							timeOut: 500,
							fadeOut: 500,
							onHidden: function () {
								window.location.reload()
							}
						}
					)
				}
				else {
					//Toast.fire({
					//    icon: "Failed",
					//    title: data.message
					//})
					toastr.error(data.message)
				}
			}
		})
	}

</script>

