﻿@using xpos314.datamodels
@model TblRole
@{

	ViewData["Title"] = "Detail Role";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>			
			<div class="mb-4 row">
				<label for="NameRole" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
					<span id="validateRoleName" class="text-danger"></span>
				</div>
			</div>
	</div>
</div>


