﻿@using xpos314.datamodels
@model TblRole
@{

	ViewData["Title"] = "Edit Role";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Create" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="mb-4 row">
				<label for="NameRole" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
					<span id="validateRoleName" class="text-danger"></span>
				</div>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12">
					<a class="btn btn-outline-secondary btn-rounded" asp-controller="Role" asp-action="Index">Back to List</a>
					<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            RoleName: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            RoleName: {
                required: "Please fill roll name!",
                minlength: "The name must consist of at least  character!",
            }
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            var RoleName = $("#RoleName").val();

            $.ajax({
                url: "/Role/CheckNameIsExist",
                //method: "GET"
                type: "GET",
                data: { nameRole: RoleName },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validateRoleName").text("Role Name is already exist")
                        return true
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Role/Edit",
            type: "POST",
            dataType: "json",
            data: dataParam,
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $(".modal").modal("hide")
                    window.location.reload()
                    toastr.success('test')
                }
                else {
                    //Toast.fire({
                    //    icon: "Failed",
                    //    title: data.message
                    //})
                    toastr.error(data.message)
                }
            }
        })
    }
</script>
