﻿@using xpos314.datamodels
@model xpos314.viewmodels.PaginatedList<TblRole>

@{
	ViewData["Title"] = "Role";
}

<div class="card">
	<div class="card-header">
		<h2 class="card-title text-center">@ViewData["Title"]</h2>
		<div class="row mb-3">
			<div class="col-12">
				<form asp-action="Index" asp-route-pageSize="@ViewBag.CurrentPageSize">
					<div class="d-flex bd-highlight mb-3">
						<div class="mr-auto p-2 bd-highlight">
							<button type="button" class="btn btn-primary shadow btn-rounded" id="btn_create">
								<i data-feather="plus" class="feather-icon"></i>
								Create
							</button>
						</div>
						<div class="p-1 bd-highlight input-group-text shadow custom-radius bg-white border-0 mr-2">
							<i data-feather="search" class="feather-icon ml-2" style="cursor:pointer" id="btn_search"></i>
							<input type="text" class="form-control custom-radius border-0" id="searchString" name="searchString" value="@ViewBag.currentFilter" placeholder="Search" />
						</div>
						<div class="p-2 bd-highlight shadow custom-radius border-0" style="cursor:pointer">
							<a class="input-group-text custom-radius border-0 bg-transparent btn_reset" asp-action="Index">
								<i data-feather="refresh-cw" class="feather-icon"></i>
							</a>
						</div>

					</div>
				</form>
			</div>
		</div>


		<div class="card-body table-responsive p-0">
			<table class="table table-hover mb-3">
				<thead>
					<tr>
						<th class="text-center">
							<a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
								<i class="fas fa-sort"></i>
								Role Name
							</a>
						</th>
						<th class="text-center">Is Delete</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Count != 0)
					{
						@foreach (var item in Model)
						{
							<tr>
								<td class="text-center">@item.RoleName</td>
								<td class="text-center">
									@if (item.IsDelete == false)
									{
										<input type="checkbox" disabled />
									}
									else
									{
										<input type="checkbox" checked disabled />
									}
								</td>
								<td class="text-center">
									<a class="btn btn-warning btn-rounded btn_detail" style="color:white" dataid="@item.Id">Detail</a>
									<a class="btn btn-success btn-rounded btn_edit" style="color:white" dataid="@item.Id">Edit</a>
									<a class="btn btn-danger btn-rounded btn_delete" style="color:white" dataid="@item.Id">Delete</a>
								</td>

							</tr>
						}
					}
					else
					{
						<tr>
							<td class="text-center" colspan="6">
								<i>Data not found</i>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div class="card-footer">
			@{
				var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
				var nextDisabled = !Model.HasNextPage ? "disabled" : "";
			}
			<div class="row">
				<div class="col-sm-12">
					<div class="d-flex justify-content-between">
						<div class="btn-group">
							<div class="mr-2">
								Show
							</div>
							<form asp-action="Index" id="form_pagesize">
								<select name="PageSize" id="PageSize" aria-controls="zero_config" class="form-control form-control-sm w-auto">
									<option value="3">3</option>
									<option value="5">5</option>
									<option value="10">10</option>
								</select>
							</form>
							<div class="ml-2"> entries from @Model.TotalData data</div>
							<input type="hidden" name="sortOrder" id="sort_change" value="" />
						</div>

						<div class="w-30">
							Page @Model.PageIndex of @Model.TotalPages
							<a asp-action="Index"
							   asp-route-sortOrder="@ViewBag.CurrentSort"
							   asp-route-pageNumber="@(Model.PageIndex - 1)"
							   asp-route-currentFilter="@ViewBag.CurrentFilter"
							   asp-route-pageSize="@ViewBag.CurrentPageSize"
		  class="btn btn-info  @prevDisabled">
								Previous
							</a>
							<a asp-action="Index"
							   asp-route-sortOrder="@ViewBag.CurrentSort"
							   asp-route-pageNumber="@(Model.PageIndex + 1)"
							   asp-route-currentFilter="@ViewBag.CurrentFilter"
							   asp-route-pageSize="@ViewBag.CurrentPageSize"
		  class="btn btn-info  @nextDisabled">
								Next
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		$("#btn_create").click(function () {
			$(".modal-body").empty();
			$(".modal-body").load("/Role/Create")
			$("#myModal").modal("show");
		});

		$(".btn_detail").click(function () {
			var id = $(this).attr("dataid")
			$(".modal-body").empty();
			$(".modal-body").load("/Role/Detail?id=" + id)
			$("#myModal").modal("show");
		});

		$(".btn_edit").click(function () {
			var id = $(this).attr("dataid")
			$(".modal-body").empty();
			$(".modal-body").load("/Role/Edit?id=" + id)
			$("#myModal").modal("show");
		});

		$(".btn_delete").click(function () {
			var id = $(this).attr("dataid");
			$(".modal-body").empty();
			$(".modal-body").load("/Role/Delete?id=" + id)
			$("#myModal").modal("show");
		});

		$("#PageSize").val(@ViewBag.CurrentPageSize)

		$("#PageSize").change(function () {
			$("#form_pagesize").submit();
		})

	});
</script>