﻿@using xpos314.viewmodels
@model VMTblCustomer
@{

	ViewData["Title"] = "Detail Customer";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
			<div class="mb-4 row">
				<label for="NameCustomer" class="col-sm-6 col-form-label">Name Customer</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="RoleName" class="col-sm-6 col-form-label">Role Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="Email" class="col-sm-6 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Address" class="col-sm-6 col-form-label">Address</label>
				<div class="col-sm-6">
				<textarea type="text" class="form-control" id="Address" name="Address" readonly>@Model.Address</textarea>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Phone" class="col-sm-6 col-form-label">Phone</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" readonly>
				</div>
			</div>
	</div>
</div>




