﻿@using xpos314.viewmodels
@model VMTblCustomer
@{

	ViewData["Title"] = "Edit Customer";
}

<div class="card">
	<div class="card-body">
		<div class="card-title">@ViewData["Title"]</div>
		<form asp-action="Create" method="post" id="form_input">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="mb-4 row">
				<label for="NameCustomer" class="col-sm-6 col-form-label">Name Customer</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IdRole" class="col-sm-6 col-form-label">Role Name</label>
				<div class="col-sm-6">
					@Html.DropDownList("IdRole",
					new SelectList(ViewBag.ListRole, "Id", "RoleName"),
					"-- Choose Role --",
					new { @class="form-control" }
					)
				</div>
			</div>


			<div class="mb-4 row">
				<label for="Email" class="col-sm-6 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="Email" name="Email" value="@Model.Email">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Password" class="col-sm-6 col-form-label">Password</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Address" class="col-sm-6 col-form-label">Address</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="Phone" class="col-sm-6 col-form-label">Phone</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
				</div>
			</div>

			<div class="modal-footer">
				<div class="col-sm-12">
					<a class="btn btn-outline-secondary btn-rounded" asp-controller="Variant" asp-action="Index">Back to List</a>
					<button type="submit" style="float:right" class="btn btn-primary btn-rounded">Submit</button>
				</div>
			</div>
		</form>

	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCustomer: {
				required: true,
				minlength: 5,
			},
			Phone: {
				required: true,
				number: true,
				minlength: 12,
				maxlength: 13
			},
			Password: {
				required: true,
				minlength: 6
			},
			Address: "required",
			Email: "required",
			IdRole: "required"
		},
		messages: {
			NameCutomer: {
				required: "Please fill name Customer!",
				minlength: "The Name must consist of at least 5 character!"
			},
			Phone: {
				required: "Please fill phone number!",
				number: "Please fill number only!",
				minlength: "The Number must consist of at least 12 digits!",
				maxlength: "The Number must consist of a maximum 13 digits!"
			},
			Password: {
				required: "Please fill password",
				minlength: "The Name must consist of at least 6 character!"
			},
			Address: "Please fill address",
			Email: "Please fill e-mail",
			IdRole: "Choose Your Role"
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize();
			$.ajax({
				url: "/Customer/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$(".modal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else
						toastr.error(data.message)
				}
			})
		}
	})

</script>

