﻿
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
	 style="background:url(adminmart/assets/images/big/auth-bg.jpg) no-repeat center center;">
	<div class="auth-box row">
		<div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(adminmart/assets/images/big/3.jpg);">
		</div>
		<div class="col-lg-5 col-md-7 bg-white">
			<div class="p-3">
				<div class="text-center">
					<img src="~/adminmart/assets/images/big/icon.png" alt="wrapkit">
				</div>
				<h2 class="mt-3 text-center">Sign In</h2>
				<p class="text-center">Enter your email address and password to access admin panel.</p>
				<form class="mt-4" id="form_login">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label class="text-dark" for="Email">Email</label>
								<input class="form-control" id="Email" name="Email" type="email"
									   placeholder="enter your email">
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label class="text-dark" for="Password">Password</label>
								<input class="form-control" name="Password" id="Password" type="password"
									   placeholder="enter your password">
								<span toggle="#password-field" class="fa fa-fw fa-eye field_icon passhint" ></span>
							</div>
						</div>
						<div class="col-lg-12 text-center">
							<button type="submit" class="btn btn-block btn-rounded btn-dark">Sign In</button>
						</div>
						<div class="col-lg-12 text-center mt-5">
							Don't have an account?
							<a class="text-danger" id="btn_regis">Sign Up</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$("#btn_regis").click(function () {
		$("#modal_body_lg").empty();
		$("#modal_body_lg").load("/Auth/Register")
		$("#modal_lg").modal("show");
	})

	//JQuery load Controller View

	/*$("#regis").click(function () {
		$.ajax({
			url: "/Auth/Register",
			success: function (respon) {
				$("#modal_body_lg").empty();
				$("#modal_body_lg").append(respon)
				$("#modal_lg").modal("show");
			}
		})
	})*/

	$("#form_login").validate({
		errorClass: "text-danger",
		rules: {
			Email: {
				required: true,
				email: true,
			},
			Password: "required"
		},
		messages: {
			Email: {
				required: "Please fill email",
				email: "Please fill a valid email address",
			},
			Password: "Please fill password"
		},
		submitHandler: function (form) {

			var email = $("#Email").val()
			var password = $("#Password").val()

			$.ajax({
				url: "/Auth/LoginSubmit",
				data: { Email: email, Password: password },
				type: "POST",
				dataType: "json",
				beforeSend: function () {
					$("#modal_load").modal("show")
				},
				success: function (respon) {
					$("#modal_load").modal("hide")
					var data = respon.dataRespon
					if (data.success) {

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 0,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else
						toastr.error(data.message)
				}
			})
		}
		
	})
		
	$(".passhint").click(function () {
		$(this).toggleClass("fa-eye fa-eye-slash");
		var input = $("#Password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
		} else {
			input.attr("type", "password");
		}
	});



</script>
