﻿<div class="card card-outline card-primary">

    <div class="card-body">
        <p class="login-box-msg">Register a new membership</p>
        <form asp-action="Register" id="form_register" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="NameCustomer" id="NameCustomer" placeholder="Full name">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" id="Email" name="Email" oninput="CheckEmailExisting()" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>

                <span id="validate_email" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" id="Address" name="Address" placeholder="Address">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-home"></span>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Retype password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                @*dropdown HTML*@
                <label for="IdRole" class="form-label">Role</label>

                <select name="IdRole" id="IdRole" value="Select" class="form-control">
                    <option>--Select Role--</option>
                    <option value="1">Admin</option>
                    <option value="2">Customer</option>
                </select>

            </div>

            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="agreeTerms" name="agreeTerms" value="agree">
                        <label for="agreeTerms">
                            I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>

                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>

            </div>
        </form>
        <div class="social-auth-links text-center">
            <a id="btn_membership" class="btn btn-block btn-success">
                <i class="fab fa-google-plus mr-2"></i>
                I already have a membership
            </a>
        </div>
    </div>

</div>
<script>
    
    $("#btn_membership").click(function(){
        $("#modal_body_lg").empty();
        $("#modal_body_lg").load("/Auth/Login")
        $("#modal_lg").modal("show");
    })

    $("#form_register").validate({
        errorClass:"text-danger",
        rules:{
            NameCustomer : {
                required : true,
                minlength : 2
            },
            Phone : "required",
            Email : {
                required : true,
                email : true,
            },
            Address : "required",
            Password : {
                required : true,
                strong_password : true
            },
            re_password :{
                equalTo : "#Password",
                required : true,

            },
            agreeTerms : "required"

        },
        messages:{
            NameCustomer : {
                required : "Please enter Name",
                minlength : 2
            },
            Phone : "Please enter phone",
            Email : {
                required : "Please enter password",
                email : "Please enter a valid email address"

            },
            Address : "Please enter address",
            Password : {
                required : "Please enter password"
            },
            re_password :{
                equalTo : "Please enter the same value again.",
                required : "Please enter re-password",

            },
            agreeTerms : "Please check agree Term"
        },
        submitHandler: function(form){
            //debugger
            var dataForm = $(form).serialize();

            var email = $("#Email").val();

            //debugger

            $.ajax({
                url : "/Auth/CheckEmailExisting",
                data:{ email : email},
                dataType : "json",
                success : function(respon){
                    //debugger;
                    if(respon){
                        $("#validate_email").text("Email is already exists")
                        return false;
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })

        }
    })

    $.validator.addMethod("strong_password", function (value, element) {
        let password = value;
        if (!(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@@#$%&])(.{8,20}$)/.test(password))) {
            return false;
        }
        return true;
    }, function (value, element) {
        let password = $(element).val();
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password must be between 8 to 20 characters long.';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password must contain at least one uppercase.';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password must contain at least one lowercase.';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password must contain at least one digit.';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password must contain special characters from @@#$%&.";
        }
        return false;
    });

    //var response;
    //$.validator.addMethod(
    //    "uniqueEmail", 
    //    function(value, element) {
    //        //debugger
    //         var email = value

    //        $.ajax({
    //           url : "/Auth/CheckEmailExisting",
    //           data:{ email : email},
    //           dataType:"json",
    //           success: function(msg)
    //            {
    //                //If username exists, set response to true
    //                if(msg == true ) {
    //                    return true;

    //                }
    //                else{
    //                    return false 

    //                }
    //            }
    //         });
    //    },
    //    "Username is Already Taken"
    //);

    function fungsiSubmit(dataParam){
        //debugger
            $.ajax({
                url: '/Auth/Register',
                data: dataParam,
                method: "post",
                dataType: "json",
                success: function (respon) {
                    debugger;
                    var data = respon.dataRespon;
                    if (data.success) {
                        $("#modal_lg").modal("hide")
                        toastr.success(data.message)
                        window.location.reload();

                    }
                    else {
                        toastr.error(data.message)

                    }

                }
        })
    }

    function CheckEmailExisting() {
        var email = $("#Email").val()
        $.ajax({
            url: "/Auth/CheckEmailExisting",
            data: { email: email },
            dataType: "json",
            success: function (respon) {
                if (respon) {
                    $("#validate_email").text("Email is already exists")
                    return false;
                }
                else {
                    return true;
                }
            }
        })
    }   


</script>