﻿@model Friend
@{
	ViewData["Title"] = "Delete Friend";
}

<div class="h3 mb-6">Are You sure delete @Model.Name's data?</div>
<form action="Delete" method="post">
    <div>
        <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id">Delete</button>
        <a class="btn btn-outline-secondary" asp-controller="Friend" asp-action="Index">Back to List</a>
    </div>
</form>

