﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Friend";
}

<div class="container col-md-6 mt-4">
    <div class="h4 mb-4">@ViewData["Title"]</div>

    <form action="Detail" method="post">
        <div class="mb-4 row">
            <label for="Id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="Address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Address" name="Address" value="@Model.address" readonly>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-sm-12">
                <a class="btn btn-outline-secondary"  style="float:right    " asp-controller="Friend" asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>
