﻿@{
    ViewData["Title"] = "LIST FRIENDS";
}


<h2 class="text-center">@ViewData["Title"]</h2>
<a class="btn btn-primary" style="float: right" asp-controller="Friend" asp-action="Create">Create</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Addresss</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Friend item in Model)
        {
            <tr>
                <th scope="row" class="text-center">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.address</td>
                <td class="text-center"> 
                    <a class="btn btn-primary"  asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>                
                </td>
                
            </tr>            
        }

    </tbody>
</table>


