﻿@using Microsoft.AspNetCore.Http
@using xpos314.web.Services
@using xpos314.viewmodels
@model PaginatedList<VMTblProduct>
@*declare first load for total QTY and Estimate Price*@
@{
	var data = @ViewBag.dataHeader;
}

<div class="card-group">
	<div class="card border-right">
		<div class="card-body">
			<div class="d-flex d-lg-flex d-md-block align-items-center">
				<div>
					<h2 class="text-dark mb-1 font-weight-medium" id="totalproduct">
						@{
							if (data != null)
							{
								<span>@data.TotalQty</span>
							}
							else
							{
								<span>0</span>
							}

						}
					</h2>
					<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
						Total Product
					</h6>
				</div>
				<div class="ml-auto mt-md-3 mt-lg-0">
					<span class="opacity-7 text-muted"><i data-feather="shopping-cart"></i></span>
				</div>
			</div>
		</div>
	</div>

	<div class="card border-right">
		<div class="card-body">
			<div class="d-flex d-lg-flex d-md-block align-items-center">
				<div>
					<h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium">
						<sup class="set-doller"> &nbsp Rp.</sup>
						@{
							if (data != null)
							{
								<span id="estimateprice">@data.Amount</span>
							}
							else
							{
								<span>0</span>

							}

						}
					</h2>
					<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
						Estimate Price
					</h6>
				</div>
				<div class="ml-auto mt-md-3 mt-lg-0">
					<span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="card border-right">
		<div class="card-body" id="btn_checkout">
			<div class="d-flex d-lg-flex d-md-block align-items-center" style="cursor:pointer">
				<div>
					<div class="d-inline-flex align-items-center">
						<h2 class="text-dark mb-1 font-weight-medium">Check Out</h2>

					</div>
					<h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">
						More info
					</h6>
				</div>
				<div class="ml-auto mt-md-3 mt-lg-0">
					<span class="opacity-7 text-muted"><i data-feather="shopping-bag"></i></span>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="card-header">
	<div class="card-tools">
		<button class="btn btn-rounded btn-primary" id="btn_search">
			<i class="fas fa-search"></i>
			Search
		</button>
	</div>
</div>
<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4">

			<div class="card card-primary card-outline">
				<div class="card-body box-profile">
					<div class="text-center">
						<img class="profile-user-img img-fluid img-circle img-responsive" src="~/img/@item.Image" alt="User profile picture">
					</div>
					<h3 class="profile-username text-center" id="name_@item.Id">@item.NameProduct</h3>
					<p class="text-muted text-center">@item.NameCategory / @item.NameVariant</p>
					<ul class="list-group list-group-unbordered mb-3">
						<li class="list-group-item">
							<b>Price</b> <a class="float-right" id="price_@item.Id">@item.Price</a>
						</li>
						<li class="list-group-item">
							<b>Stock</b> <a class="float-right" id="stock_@item.Id">@item.Stock</a>
							<span class="text-danger" id="valid_stock_@item.Id"></span>
						</li>
					</ul>
					<div class="row">
						<div class="col-4">
							<a id="min" dataid="@item.Id" class="btn btn-danger btn-circle btn_min">
								<i data-feather="minus" class="feather-icon" style="color:white"></i>
							</a>
						</div>
						<div class="col-4 text-center">
							<span class="text-lg" id="totalitem_@item.Id">0</span>
						</div>
						<div class="col-4">
							<a id="plus" dataid="@item.Id" class="btn btn-success float-right btn-circle btn_plus">
								<i data-feather="plus" class="feather-icon" style="color:white"></i>
							</a>
						</div>
					</div>
				</div>

			</div>

		</div>
	}

</div>

<div class="card-footer">
	@{
		var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
		var nextDisabled = !Model.HasNextPage ? "disabled" : "";
	}
	<div class="row">
		<div class="col-2">
			<div class="mr-2">
				Show
			</div>
			<form asp-action="Catalog" id="form_pagesize">
				<select name="PageSize" id="PageSize"
						class="form-control">
					<option value="3">3</option>
					<option value="5">5</option>
					<option value="10">10</option>
				</select>
			</form>
		</div>

		<div class="col-10">
			Page @Model.PageIndex of @Model.TotalPages
			<a id="aNext" asp-action="Catalog"
			   asp-route-sortOrder="@ViewBag.CurrentSort"
			   asp-route-pageNumber="@(Model.PageIndex + 1)"
			   asp-route-currentFilter="@ViewBag.CurrentFilter"
			   asp-route-pageSize="@ViewBag.CurrentPageSize"
	  class="btn btn-info float-right @nextDisabled">
				Next
			</a>
			<a id="aPrev" asp-action="Catalog"
			   asp-route-sortOrder="@ViewBag.CurrentSort"
			   asp-route-pageNumber="@(Model.PageIndex - 1)"
			   asp-route-currentFilter="@ViewBag.CurrentFilter"
			   asp-route-pageSize="@ViewBag.CurrentPageSize"
	  class="btn btn-info float-right @prevDisabled">
				Previous
			</a>
		</div>
	</div>
</div>

<script>
	let data = {}

	$(document).ready(function () {

		var totalproduct = parseInt($("#totalproduct").text())
		var estimateprice = parseInt($("#estimateprice").text())
		var obj = {}

		//set ListCart fist load
		var ListCart = @Html.Raw(ViewBag.dataDetail);
		setTransaction()

		//set product choose
		function setTransaction() {

			if (ListCart != null) {
				$.each(ListCart, function (index, element) {

					var id = element.IdProduct
					$("#totalitem_" + id).text(element.Qty)

				});
			}
		}

		$(".btn_plus").click(function () {
			obj = {}

			var id = $(this).attr("dataid")
			var idprice = "#price_" + id
			var idtotalitem = "#totalitem_" + id
			var idstock = "#stock_" + id
			var idname = "#name_" + id

			var totalitem = parseInt($(idtotalitem).text())
			var price = parseInt($(idprice).text())
			var stock = parseInt($(idstock).text())
			var nameProduct = $(idname).text()

			validateStock(id, stock)


			if (stock > 0) {
				totalproduct++
				totalitem++
				stock--
				estimateprice = estimateprice + price

				$("#totalproduct").text(totalproduct)
				$("#estimateprice").text(estimateprice)

				$(idstock).text(stock)
				$(idtotalitem).text(totalitem)
			}

			obj.IdProduct = id
			obj.Qty = totalitem
			obj.SumPrice = price * totalitem
			obj.Price = price
			obj.NameProduct = nameProduct

			addList(id, obj)

			//console.log(ListCart)

			setSession()
		})


		$(".btn_min").click(function () {
			var id = $(this).attr("dataid")
			var idprice = "#price_" + id
			var idtotalitem = "#totalitem_" + id
			var idstock = "#stock_" + id
			var idname = "#name_" + id


			var totalitem = parseInt($(idtotalitem).text())
			var price = parseInt($(idprice).text())
			var stock = parseInt($(idstock).text())
			var nameProduct = $(idname).text()


			if (totalitem > 0) {
				totalproduct--
				totalitem--
				stock++
				estimateprice = estimateprice - price

			}

			validateStock(id, stock)

			$("#totalproduct").text(totalproduct)
			$("#estimateprice").text(estimateprice)

			$(idtotalitem).text(totalitem)
			$(idstock).text(stock)

			obj.IdProduct = id
			obj.Qty = totalitem
			obj.SumPrice = price * totalitem
			obj.Price = price
			obj.NameProduct = nameProduct

			spliceList(id, obj)
			//console.log(ListCart)
			setSession()
		})

		function addList(id, obj) {
			const index = ListCart.map(e => e.IdProduct).indexOf(id);
			if (index == -1) {
				ListCart.push(obj)
			}
			else {
				ListCart[index].Qty = obj.Qty
				ListCart[index].SumPrice = obj.SumPrice
			}
		}

		function spliceList(id, obj) {
			const index = ListCart.map(e => e.IdProduct).indexOf(id);
			if (index != -1) {
				ListCart[index].Qty = obj.Qty
				ListCart[index].SumPrice = obj.SumPrice

				if (obj.Qty == 0) {
					ListCart.splice(index, 1)
				}
			}
		}

		function validateStock(id, stock) {

			if (stock == 0) {
				$("#valid_stock_" + id).text("out of stock")
			}
			else {
				$("#valid_stock_" + id).empty()
			}
		}

		function setSession() {
			data = {
				TotalQty: totalproduct,
				Amount: estimateprice,
				ListDetails: ListCart
			}

			$.ajax({
				url: "/Order/SetSession",
				data: { dataHeader: data },
				type: "post",
				dataType: "json",
				success: function (respon) {
					alert("set session done")
				}
			})
		}

		$("#btn_checkout").click(function () {

			data = {
				TotalQty: totalproduct,
				Amount: estimateprice,
				ListDetails: ListCart
			}

			$("#modal_body_lg").empty();

			if (ListCart.length > 0) {
				$("#modal_body_lg").load("/Order/OrderPreview", data)
			}
			else {
				$("#modal_body_lg").text("please select product before")
			}
			$("#modal_lg").modal("show");
		})


		$("#btn_search").click(function () {
			$("#modal_body_sm").empty();
			$("#modal_body_sm").load("/Order/SearchMenu")
			$("#modal_sm").modal("show");
		})

		$("#PageSize").val(@ViewBag.CurrentPageSize)

		$("#PageSize").change(function () {
			$("#form_pagesize").submit();
		})

	})
</script>